<ion-header>
  <ion-toolbar>
    <ion-title>Verificacion de Email</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="user$ | async as user">
  <ion-row>
    <ion-col>
      <h2 class="ion-text-center">Gracias por registrarte!</h2>
      <p>Necesitemos que confirmes la autenticación de tu correo <strong>{{user.email}}</strong>, verifica tu bandeja y dale click al link que se encuentra en el contenido.</p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button type="submit" color="warning" expand="block" (click)="onSendEmail()">Enviar Verificación</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
