<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col class="ion-align-self-start">
      <ion-button (click)="goRegister()" expand="block">Registrar</ion-button>
    </ion-col>
    <ion-col class="ion-align-self-end">
      <ion-button (click)="goLogin()"expand="block">Iniciar Sesion</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
