<ion-header>
  <ion-toolbar>
    <ion-title>Registro de Usuarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" #email required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" #password required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" (click)="onRegister(email, password)" expand="block">Registrar</ion-button>
      </ion-col>
    </ion-row>
  </form>
  <ion-row>
    <ion-col>
      <p class="ion-text-center">
        <a routerLink="/login">Ya tienes una cuenta?</a>
      </p>
    </ion-col>
  </ion-row>
</ion-content>
